---
apiVersion: v1
kind: Template
labels:
  template: createpv-template
message: |-
  The following project/namespace has been created: ${NAMESPACE}
metadata:
  annotations:
    description: |-
      PersistentVolume Template
  creationTimestamp: null
objects:
- apiVersion: v1
  kind: PersistentVolume
  metadata:
    finalizers:
    - kubernetes.io/pv-protection
    name: ${PV_NAME}
  spec:
    accessModes:
    - ${ACCESS_MODE}
    capacity:
      storage: ${PV_SIZE}  
    nfs:
      path: ${PV_PATH}
      server: ${NFS_SERVER_NAME}
    persistentVolumeReclaimPolicy: ${RECLAIM_POLICY}
    storageClassName: ${STORAGE_CLASSNAME}
parameters:
- description: PV_NAME
  displayName: PV_NAME
  name: PV_NAME
  required: true
- description: ACCESS_MODE
  displayName: ACCESS_MODE
  name: ACCESS_MODE
  required: true
  value: "ReadWriteOnce" 
- description: PV_SIZE
  displayName: PV_SIZE
  name: PV_SIZE
  required: true  
- description: PV_PATH
  displayName: PV_PATH
  name: PV_PATH
  required: true
- description: NFS_SERVER_NAME
  displayName: NFS_SERVER_NAME
  name: NFS_SERVER_NAME
  required: true
- description: RECLAIM_POLICY
  displayName: RECLAIM_POLICY
  name: RECLAIM_POLICY
  required: true
- description: STORAGE_CLASSNAME
  displayName: STORAGE_CLASSNAME
  name: STORAGE_CLASSNAME
  required: true
